force-app/main/default/flows/Indicating_First_Post_on_Discussion_Board.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Reminder_To_TACS_To_Indicate_First_Post_On_Discussion_B</name>
        <label>Email Reminder To TACS To Indicate First Post On Discussion B</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>FeedItem.Email_Reminder_To_TACS_To_Indicate_First_Post_On_Discussion_Board</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FeedItem.Email_Reminder_To_TACS_To_Indicate_First_Post_On_Discussion_Board</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Checking_the_User_Records</name>
        <label>Checking the User Records</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sending_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Reminder_To_TACS_To_Indicate_First_Post_On_Discussion_B</targetReference>
            </connector>
            <label>Sending Email Notification</label>
        </rules>
    </decisions>
    <description>Sending Email notifications to TAC When the user is posting for the first time in discussion board</description>
    <interviewLabel>Indicating First Post on Discussion Board {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Indicating First Post on Discussion Board</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records</name>
        <label>Get Records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_the_User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuestionPost</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <outputAssignments>
            <assignToReference>OldRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records</targetReference>
        </connector>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OldRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
